body {
  margin: 60px 0 0;
  position: relative;
}

* {
  box-sizing: border-box;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

button {
  transition: transform 100ms;

  &:active {
    transform: scale(0.9);
  }

  background: none;
  border: none;
  cursor: pointer;

  color: #ffffff;
}